.twz-plugin-manager {
   box-sizing: border-box;
   display: -webkit-box;
   display: -moz-box;
   display: -ms-flexbox;
   display: -webkit-flex;
   display: flex;
   -webkit-flex-wrap: wrap;
   flex-wrap: wrap;
   flex-flow: row wrap;
   -webkit-flex-flow: row wrap;
   justify-content: space-between;
   width: 102%;
   position: relative;
   left: -1%;
}

.twz-plugin-manager:after {
   content: "";
   flex: auto;
}

.twz-plugin-manager * {
   box-sizing: border-box;
}

.twz-plugin-manager .plugin {
   width: 31.333%;
   margin: 0 1% 20px;
   padding: 0;
   overflow: hidden;
   text-align: left;
   border: 1px solid #e1e1e1;
   background: #fff;
   position: relative;
   border-radius: 2px;
   display: flex;
   flex-direction: column;
   justify-content: space-between;
   box-shadow: 0 0 10px 1px #ddd;
}

.twz-plugin-manager .plugin:hover {
   border-color: #cecece;
}

.twz-plugin-manager .plugin-wrap {
   padding: 20px 20px 95px 145px;
   min-height: 214px;
   display: block;
   position: relative;
}


.twz-plugin-manager li a,
.twz-plugin-manager .plugin-wrap a {
   text-decoration: none;
}

.twz-plugin-manager .plugin-title {
   font-size: 16px;
   font-weight: 600;
   padding-bottom: 5px;
}

.twz-plugin-manager .plugin-wrap img {
   display: block;
   position: absolute;
   left: 20px;
   top: 20px;
   max-width: 108px;
   max-height: 108px;
   border: 1px solid #f7f7f7;
   border-radius: 10%;
}

.twz-plugin-manager .plugin-wrap h2,
.twz-plugin-manager .plugin-wrap p {
   padding: 0;
   margin: 0;
   font-size: 17px;
   font-weight: 600;
   color: #333;
   line-height: 1.4;
}

.twz-plugin-manager .plugin-wrap p {
   padding: 10px 0 0;
   margin: 0;
   font-size: 14px;
   font-weight: 400;
   color: #777;
}

.twz-plugin-manager .plugin-wrap p.plugin-author {
   font-size: 13px;
   padding-top: 20px;
   font-style: italic;
}

.twz-plugin-manager .activation-row {
   display: flex;
   justify-content: space-between;
   padding: 0px 14px 14px 14px;
   border-radius: 0 0 2px 2px;
   width: 100%;
   overflow: hidden;
}

.twz-plugin-manager .activation-row .custom-button {
   width: 100%;
   margin-top: 0px;
   text-align: center;
   border: 1px solid #3171A5;
   border-radius: 5px;
   padding: 8px 0;
}

.twz-plugin-manager .activation-row .custom-button .custom-link {
   text-decoration: none;
}

@media screen and (max-width: 1170px) {
   .twz-plugin-manager .plugin {
      width: 48%;
      margin: 0 1% 15px;
   }
}

@media screen and (max-width: 960px) {
   .twz-plugin-manager .plugin-wrap {
      padding: 20px 20px 95px 115px;
      min-height: 214px;
   }

   .twz-plugin-manager .plugin-wrap img {
      max-width: 78px;
      max-height: 78px;
      border-radius: 10%;
   }
}

@media screen and (max-width: 640px) {
   .twz-plugin-manager {
      width: 100%;
      position: static;
   }

   .twz-plugin-manager .plugin {
      width: 100%;
      margin: 0 0 20px;
   }
}